@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
@import "~normalize.css";

@import "variables";
@import "mixins";

@import "header";
@import "toolbar";
@import "formula";
@import "table";
@import "dashboard";


::-webkit-scrollbar {
  width: 8px; /* ширина для вертикального скролла */
  height: 8px; /* высота для горизонтального скролла */
  background-color: #b9c1d5;
}

/* ползунок скроллбара */
::-webkit-scrollbar-thumb {
  background-color: #30333d;
  border-radius: 9px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #253861;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html, body {
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
}

ul, li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.excel {
  position: relative;
  color: #888;
  height: 100%;
  max-width: 100%;
}